@import url(https://fonts.googleapis.com/css?family=Dosis:600);

* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-width: 320px;
	height: 100%;
	font-family: 'Dosis', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	color: white;
	font-size: 2rem;
	padding: 0;
	margin: 0;
	position: relative;
	background: #f857a6; /* fallback for old browsers */
	background: -webkit-linear-gradient(#ff5858, #f857a6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
	position: fixed;
	bottom: 0px;
	display: block;
	width: 100%;
	border-top: 4px solid white;
	height: 5rem;
	line-height: 4.5rem;
	padding-left: 1rem;
	z-index: -1;
}

#sliderArea {
	height: 100%;
	width: 100%;
	position: relative;
}

#slider {
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	background: white;
	margin: 0 auto;
	margin-bottom: 2.5rem;
	left: 50%;
	margin-left: -2.5rem;
	position: absolute;
	bottom: 0%;
	display: none;
}

.warning {
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 40%;
	position: absolute;
	padding: 0rem 5rem;
}

#desktopWarning {
	display: block;
}